<body class="bg-light">
  <div class="container my-4">
    <h2 class="text-center mb-4 text-primary fw-bold">🛒 Products details</h2>

    <div class="row">
      <div class="col-md-4 col-lg-3 mb-4" *ngFor="let product of shopping">
        <div class="card h-100 shadow-sm">
          <img [src]="product.image" class="card-img-top p-3" [alt]="product.title">
          <div class="card-body d-flex flex-column">
            <h5>{{ product.title }}</h5>
            <p><b>Category:</b> {{ product.category }}</p>
            <!-- <p>{{ product.description }}</p> -->
            <div>
              <p><b>Price:</b> ${{ product.price }}</p>
              <p><b>Rating:</b> ⭐ {{ product.rating.rate }} ({{ product.rating.count }} reviews)</p>
              <button class="btn btn-primary w-100">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>