<h1>create student details</h1>
<form [formGroup]="adddeatailsForm"(ngSubmit)="submit()">
    <label for="">name</label>
    <input type="text" formControlName="name">
    <br><br>
        <label for="">phone</label>
    <input type="text" formControlName="phone">
    <br><br>
        <label for="">city</label>
    <input type="text" formControlName="city">
    <br><br>
        <label for="">dob</label>
    <input type="text" formControlName="dob">
    <br><br>
        <label for="">profile_picture</label>
    <input type="text" formControlName="profile_picture">
    <br><br>
        <label for="">email</label>
    <input type="text" formControlName="email">
    <br><br>
        <label for="">school_logo</label>
    <input type="text" formControlName="school_logo">
    <br><br>
        <label for="">school_name</label>
    <input type="text" formControlName="school_name">
    <br><br>
        <label for="">school_city</label>
    <input type="text" formControlName="school_city">
    <br><br>
        <label for="">school_pin</label>
    <input type="text" formControlName="school_pin">
    <br><br>
    <input type="submit">
</form>