
<div class="home">
<div class="left">
    <h3 routerLink="Home" appHighlight>home</h3>
    <h3 routerLink="wellcome">wellcome</h3>
    <h3 routerLink="data-binding">Data binding</h3>
    <h3 routerLink="calculator">Calculator</h3>
    <h3 routerLink="square">square</h3>
    <h3 routerLink="rectangle">rectangle</h3>
    <h3 routerLink="circle">Circle</h3>
    <h3 routerLink="bmi">Bmi</h3>
    <h3 routerLink="cars">Cars</h3>
    <h3 routerLink="directives">directives</h3>
    <h3 routerLink="shopping">shopping</h3>
    <h3 routerLink="mail">mail</h3>
    <h3 routerLink="vehicle">vehicle</h3>
    <h3 routerLink="account">account</h3>
    <h3 routerLink="gmail">gmail</h3>
    <h3 routerLink="weather">weather</h3>
    <h3 routerLink="studentdetails">studentdeatails</h3>
    <h3 routerLink="create-vehicle">create-vehicle</h3>
    <h3 routerLink="adddeatails">adddeatails</h3>
    <h3 routerLink="create-user">create-user</h3>
    <h3 routerLink="company-details">company-details</h3>
    <h3 routerLink="parent">parent</h3>
    <h3 routerLink="flipkart">flipkart</h3>
    <h3 routerLink="about-ceo">About ceo</h3>
    <h3 routerLink="about-company">About comapany</h3>
    <h3 routerLink="optimization">optimization</h3>
    <h3 routerLink="hooks">Hooks</h3>
    <button routerLink="/login">logout</button>
</div>
<div class="right">
    <router-outlet></router-outlet>
</div>
</div>
